In [1]:
print("Hello Python")

Hello Python

In [2]:
num = 1
Num = 10
print(num, Num)

1 10

In [3]:
string_value = "test"
num = 3
float_num = 7.7

print(string_value, num, float_num)

test 3 7.7

In [4]:
print(type(string_value))
print(type(num))
print(type(float_num))

<class 'str'>
<class 'int'>
<class 'float'>

In [8]:
z1 = 3 + 4j
z2 = 4 + 5j
z = z1 + z2

print(z)
print(type(z))

# 복소수의 허수부
print(z.imag)

# 복소수의 실수부
print(z.real)

# 켤레 복소수
print(z.conjugate())

(7+9j)
<class 'complex'>
9.0
7.0
(7-9j)

In [9]:
big = 1.2e30
small = 1.57e-20
test = 2 ** 10

print(big)
print(small)
print(test)

print(type(big))
print(type(small))
print(type(test))

1.2e+30
1.57e-20
1024
<class 'float'>
<class 'float'>
<class 'int'>

In [13]:
# 파이썬 주석
print('주석 처리')

# 파이썬은 큰따옴표와 작은따옴표 구분을 하지 않음

주석 처리

In [16]:
# // 연산자는 배열의 크기를 계산할 때 사용
num1 = 3 // 7
num2 = 3333 // 10
num3 = 3 / 7

print(num1)
print(num2)
print(num3)

0
333
0.42857142857142855

In [18]:
# format 스트링, DB 연산을 할 때 많이 사용한다고 한다.
format_string = """
    이렇게도
        뿌릴 수가
            있습니다.
"""

print(format_string)

    이렇게도
        뿌릴 수가
            있습니다.

In [19]:
testStr = "C" + " Python"
print(testStr)

C Python

In [21]:
str1 = "pointer"

print(str1)
print(str1[0])
print(str1[3])

pointer
p
n

In [25]:
# 0 ~ 1 까지가 아닌 0 부터 1 이전까지
print(str1[0:1])
print(str1[1:4])

p
oin

In [27]:
# 0 생략
print(str1[:2])

po

In [28]:
print(str1[-2:])

er